.bootstrap-dialog div div.MuiPaper-elevation{
border-radius: 20px;
width: 85%;
}
.bootstrap-dialog .bootstrap-dialog-title{
text-align: center;
font-size: 16px;
font-weight: 400;
}
.bootstrap-dialog .dialog-content{
    border: none;
    color: gray;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 0 !important;
    border-radius: none;
    
}
.bootstrap-dialog .dialog-content .typography{
    font-size: 14px;
    border-radius: none !important;
}
.bootstrap-dialog .dialog-action {
    margin: 8px auto 15px;
    background-color: rgb(47, 216, 47);
    border-radius: 8px;
    padding: 5px 10px !important;
}
.bootstrap-dialog .dialog-action .button{
color: white;
text-transform: capitalize;
font-weight: 400;
}